@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  list-style: none;
  text-decoration: none;
}
body {
  font-family: 'Poppins', sans-serif;
  background: #fff;
  color: #000;
  line-height: 1.7;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
img {
  display: block;
  width: 100%;
  object-fit: cover;
}
.custom__input {
  padding: 10px;
  height: 25px;
  border: none;
  border-radius: 6px;
}

@import url('./auth.css');
