@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap');
@import url(https://fonts.googleapis.com/css?family=Comfortaa:400,700,300);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  list-style: none;
  text-decoration: none;
}
body {
  font-family: 'Poppins', sans-serif;
  background: #fff;
  color: #000;
  line-height: 1.7;
}
.container {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}
img {
  display: block;
  width: 100%;
  object-fit: cover;
}
.custom__input {
  padding: 10px;
  height: 25px;
  border: none;
  border-radius: 6px;
}
.svg-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
}
.loader-svg {
  fill: none;
  stroke-width: 5px;
  stroke-linecap: round;
  stroke: rgb(64, 0, 148);
}
.loader-svg.bg {
  stroke-width: 8px;
  stroke: rgb(207, 205, 245);
}
.animate {
  stroke-dasharray: 242.6;
  animation: fill-animation 1s cubic-bezier(1, 1, 1, 1) 0s infinite;
}

@keyframes fill-animation {
  0% {
    stroke-dasharray: 40 242.6;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 141.3;
    stroke-dashoffset: 141.3;
  }
  100% {
    stroke-dasharray: 40 242.6;
    stroke-dashoffset: 282.6;
  }
}

@import url('./auth.css');
